.App {
  text-align: center;
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

.header {
  background: #17a2b8;
  text-align: center !important;
}

h1 {
  text-align: center !important;
  color: white;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 20px;
  margin-bottom: 0px;
  padding: 8px;
}

.btn {
  color: #fff;
  background-color: #17a2b8 !important;
}

.card {
  background: #eeeeee;
  border: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
